/* some style */

body {
    font-family: Georgia, Palatino, Andale Mono, serif;
}

div.section-title {
    font-size: 16px;
}

.grid-content {
    font-spacing: 1em;
}

/*** VIZ STYLES ***/

circle.points {
    fill: #333;
}

line.lengths {
    stroke-width: 4px;
    stroke: #555;
}

.slope {
    fill: none;
    stroke: #666;
    stroke-width: 3px;
}

circle.areas {
    fill: #444;
}
